<h4>Dinner on <%=@dinner.date%></h4>
<%@dinner.comments do |comment|%>
  <%=comment.content%>
  <%if comment.user == Helpers.current_user(session)%>
    <h5>edit me</h5>
  <%end%>
<%end%>
<form class="form-horizontal" action="/comment" method="post">
<fieldset>

<!-- Form Name -->
<h5>Leave a comment about this dinner...</h5>

<!-- Text input-->
<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="form-group">
    <label class="control-label" for="content"></label>
    <div class="col-md-6">
      <textarea class="form-control" cols="40" id="content" name="content" rows="6"></textarea>
      <input type="hidden" name="dinner_id" value="<%=@dinner.id%>">
      <input type="hidden" name="dish_id" value="">
      <button id="submit" name="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</fieldset>
</form>

<h5>Serving...</h5>
<%@dinner.dishes do |dish|%>
  <%=dish.name%>
  <%=dish.ingredients%>
  <%@dish.comments do |comment|%>
    <%=comment.content%>
    <form class="form-horizontal" action="/comment" method="post">
    <fieldset>

    <!-- Form Name -->
    <h5>Leave a comment about this dish...</h5>

    <!-- Text input-->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label" for="content"></label>
        <div class="col-md-6">
          <textarea class="form-control" cols="40" id="content" name="content" rows="6"></textarea>
          <input type="hidden" name="dinner_id" value="<%=@dinner.id%>">
          <input type="hidden" name="dish_id" value="<%=dish.id%>">
          <button id="submit" name="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
    </fieldset>
    </form>
  <%end%>
<%end%>
